<h2>Login!</h2>
<%= form_for @user, url: login_path, method: :post do |f|%>
<table class="new_form">
    <thead class="new_form">
    <td><%= text_field_tag :name, placeholder = "UserName" %><br /></td>
    <td><%= password_field_tag :password, placeholder="Password" %><br /></td>
  <td><input type="submit" class="login_button"></td>
  </thead>
</table>
<% end %>
