<h2>Login!</h2>
<%= form_tag(sessions_path) do %>
<table class="new_form">
    <thead class="new_form">
    <td><%= text_field_tag :name, placeholder="UserName or email" %><br /></td>
  <td><input type="submit" class="login_button"></td>
  </thead>
</table>
<% end %>
