<h2><%= @meeting.name %></h2>
<table>
  <thead>
      <tr class="tb-items">
          <th>Name</th>
          <th>Time</th>
          <th>Type of Player</th>
      </tr>
  </thead>

  <tbody>
    <td>Tim</td>
    <td>3</td>
    <td>pro</td>
  </tbody>

</table>
<div class="edit">
<a href="#">Edit Meeting</a>
</div>
