<h2><%= @meeting.name %></h2>
<table class="show_form">
  <thead>
    <% @meetings.each do |meeting| %>
      <tbody>
      <tr class="tb-items">
        <td><%= link_to meeting.name, meeting_path(meeting) %></td>
        <td><%= link_to meeting.time, meeting_path(meeting) %></td>
        <td><%= link_to meeting.type_player, meeting_path(meeting) %></td>
      </tr>
    </tbody>
      <% end %>
  </thead>

  <tbody>
    <td>Tim</td>
    <td>3</td>
    <td>pro</td>
  </tbody>

</table>
<div class="edit">
<a href="#">Edit Meeting</a>
</div>
