<h1><%= @user.name %></h1>
<p><%= link_to "My Meetings", user_meetings_path(@user, @meeting) %><br />
  <%= link_to "Create a new meeting", new_user_meeting_path(@user) %>
<p><%= link_to "Logout", logout_path %></p>
